@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Black.woff2') format('woff2'),
        url('Commissioner-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Bold.woff2') format('woff2'),
        url('Commissioner-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-ExtraBold.woff2') format('woff2'),
        url('Commissioner-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-ExtraLight.woff2') format('woff2'),
        url('Commissioner-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Light.woff2') format('woff2'),
        url('Commissioner-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Medium.woff2') format('woff2'),
        url('Commissioner-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Regular.woff2') format('woff2'),
        url('Commissioner-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-SemiBold.woff2') format('woff2'),
        url('Commissioner-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('Commissioner-Thin.woff2') format('woff2'),
        url('Commissioner-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

