:root {
    --color-dark: #9fb878;
    --color-dark-hover: #8fa965;
    --color-accent: #e4eed2;
    --color-accent-bg: #FBFAF8;
    --color-bg: #ffffff;
    --color-border: #EBEBE3;
    --color-text: #2c2f27;
}


@font-face {
    font-family: 'Commissioner';
    src: url('font/Commissioner-Bold.woff2') format('woff2'),
        url('font/Commissioner-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Commissioner';
    src: url('font/Commissioner-Light.woff2') format('woff2'),
        url('font/Commissioner-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('font/Commissioner-Medium.woff2') format('woff2'),
        url('font/Commissioner-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('font/Commissioner-Regular.woff2') format('woff2'),
        url('font/Commissioner-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('font/Commissioner-SemiBold.woff2') format('woff2'),
        url('font/Commissioner-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}


body {
    font-family: "Commissioner", Helvetica, Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text)
}

input[type="text"], input[type="date"], textarea, select {
    border-radius: 6px;
    padding: 6px;
    border: 1px solid var(--color-dark);
    outline: none;
}

input:focus {
    background-color: var(--color-accent);
    border: 2px solid var(--color-dark-hover);
}

input:active {
    border: 2px solid var(--color-dark-hover);
}


/* structure */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 100%;
    height: 100vh;
}


.header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--color-dark);
    padding: 16px 40px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header > img {
    width: 36px;
}

h1 {
    color: rgb(255, 255, 255);
}

/* projects */
.projects-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-accent-bg);
    padding: 40px 24px;
    gap: 24px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects-title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 12px;
}

.project {
    background-color: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-todos-btn {
    justify-content: flex-start;
    gap: 10px;
}

.project:hover {
    background-color: var(--color-accent);
}

.project-selected {
    background-color: var(--color-accent);
}

.project > img {
    width: 28px;
}

.project > p {
    font-size: 18px;
}

.new-project-btn {
    background-color: rgb(210, 210, 210, 0);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    align-self: self-end;
}

.new-project-btn:hover {
    background-color: var(--color-accent);
}

.new-project-btn > i {
    margin-right: 20px;
}

.projects-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects-form-name {
    padding: 4px;
    border-radius: 4px;
}

.projects-form-btns {
    align-self: flex-end;
}

.project-btn, .todo-btn {
    padding: 8px;
}

.project-icon {
    width: 20px;
}


.rename-project {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.rename-btn-div {
    align-self: self-end;
    display: flex;
    gap: 8px;
}



.save-btn, .cancel-btn{
    border: 1px solid var(--color-dark);
    background-color: transparent;
    border-radius: 4px;
    padding: 6px;
    width: 70px;
    font-size: 14px;
    cursor: pointer;
}

.cancel-btn:hover{
    background-color: var(--color-accent);
}

.save-btn{
    color: #fff;
    border: none;
    background-color: var(--color-dark);
}

.save-btn:hover {
    background-color: var(--color-dark-hover);
}

/* todos */
.todos-container {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.todo-list-div {
    width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.todo-item-content {
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.todo-item-content:hover {
    background-color: var(--color-accent);
}

.edit-todo-form {
    margin-top: 12px;
}

.todo-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-left {
    display: flex;
    gap: 12px;
    align-items: center;
}

.todo-title {
    font-size: 20px;
}

.todo-buttons {
    display: flex;
    gap: 4px;
}

.todo-item-done {
    text-decoration: line-through;
    opacity: 0.5;
}

.add-btn {
    padding: 8px 16px;
    border: 1px solid var(--color-dark);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: var(--color-accent);
}


/* Customize the label (the container) */
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-label :hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-label input:checked ~ .checkmark {
  background-color: var(--color-dark);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.confirm-btn, .cancel-btn {
    cursor: pointer;
}


/* form */
.todo-form {
    width: 500px;
    background-color: var(--color-accent-bg);
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.visibility {
    display: none;
}


