*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}


/* structure */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

/* projects */
.projects-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 222, 222);
    padding: 40px;
    gap: 24px;
}


.projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project {
    background-color: rgb(210, 210, 210);
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 8px;
}

.project:hover {
    background-color: rgb(191, 191, 191);
}

.project-selected {
    background-color: rgb(172, 172, 172);
}

.new-project-btn {
    background-color: rgb(210, 210, 210, 0);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    align-self: self-end;
}

.new-project-btn:hover {
    background-color: rgb(210, 210, 210);
}

.projects-form {
    display: flex;
    gap: 4px;
}

.projects-form-name {
    padding: 4px;
    border-radius: 4px;
}

.projects-form-name:focus {
    border-color: rgb(96, 59, 148);
    outline: 3px solid transparent;
}

/* todos */
.todos-container {
    margin: 40px;
}

h1 {
    margin-bottom: 40px;
}

.todo-list-div {
    width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.todo-item {
    padding: 8px 12px;
    cursor: pointer;
    background-color: beige;
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

.todo-left {
    display: flex;
    gap: 12px;
    align-items: start;
}

.todo-title {
    font-size: 20px;
}

.todo-buttons {
    display: flex;
    gap: 12px;
}

.todo-item-done {
    text-decoration: line-through;
    opacity: 0.5;
}

.visibility {
    display: none;
}