

:root {
    --color-dark: #9fb878;
    --color-dark-hover: #8fa965;
    --color-accent: #e4eed2;
    --color-accent-bg: #FBFAF8;
    --color-bg: #ffffff;
    --color-border: #EBEBE3;
}

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}


body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--color-bg);
}

input[type="text"] {
    border-radius: 6px;
    padding: 6px;
    border: 1px solid var(--color-dark);
    outline: none;
}

input:focus {
    background-color: var(--color-accent);
    border: 2px solid var(--color-dark-hover);
}

input:active {
    border: 2px solid var(--color-dark-hover);
}


/* structure */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 100%;
    height: 100vh;
}


.header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--color-dark);
    padding: 16px 40px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.header > img {
    width: 36px;
}

h1 {
    color: rgb(255, 255, 255);
}

/* projects */
.projects-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-accent-bg);
    padding: 40px 24px;
    gap: 24px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects-title {
    font-size: 20px;
}

.project {
    background-color: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-todos-btn {
    justify-content: flex-start;
    gap: 10px;
}

.project:hover {
    background-color: var(--color-accent);
}

.project-selected {
    background-color: var(--color-accent);
}

.project > img {
    width: 28px;
}

.project > p {
    font-size: 18px;
}

.new-project-btn {
    background-color: rgb(210, 210, 210, 0);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    align-self: self-end;
}

.new-project-btn:hover {
    background-color: var(--color-accent);
}

.new-project-btn > i {
    margin-right: 20px;
}

.projects-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects-form-name {
    padding: 4px;
    border-radius: 4px;
}

.projects-form-btns {
    align-self: stretch;
}

.project-btn {
    padding: 8px;
}

.project-icon {
    width: 20px;
}


.rename-project {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.rename-btn-div {
    align-self: self-end;
    display: flex;
    gap: 8px;
}



.save-edit-project, .cancel-edit-project, .projects-form-save-btn, .projects-form-cancel-btn {
    border: 1px solid var(--color-dark);
    background-color: transparent;
    border-radius: 4px;
    padding: 6px;
    width: 70px;
    font-size: 14px;
    cursor: pointer;
}

.cancel-edit-project:hover, .projects-form-cancel-btn:hover {
    background-color: var(--color-accent);
}

.save-edit-project, .projects-form-save-btn {
    color: #fff;
    border: none;
    background-color: var(--color-dark);
}

.save-edit-project:hover, .projects-form-save-btn:hover {
    background-color: var(--color-dark-hover);
}

/* todos */
.todos-container {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.todo-list-div {
    width: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

.todo-item {
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-item:hover {
    background-color: var(--color-accent);
}

.todo-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-left {
    display: flex;
    gap: 12px;
    align-items: start;
}

.todo-title {
    font-size: 20px;
}

.todo-buttons {
    display: flex;
    gap: 12px;
}

.todo-item-done {
    text-decoration: line-through;
    opacity: 0.5;
}

.add-btn {
    padding: 8px 16px;
    border: 1px solid var(--color-dark);
    background-color: var(--color-accent-bg);
    border-radius: 8px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: var(--color-accent);
}

.todo-form {
    width: 500px;
    background-color: rgb(229, 229, 229);
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
}


  
.confirm-btn, .cancel-btn {
    cursor: pointer;
}

.visibility {
    display: none;
}